# Ignore everything ...
*

# ... except this file
!.gitignore

# ... and a frw select figures
!all_students.pdf
!non-phd_students.pdf
!phd_students.pdf
!all_students_with_subclasses.pdf
!non-phd_students_with_subclasses.pdf
!phd_students_with_subclasses.pdf